@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Roboto+Slab:wght@100;300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to left bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  /* Dark background color for better contrast */
  color: #ffffff;
  max-width: 100vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-top: 70px;
  /* Increased padding for better spacing */
  text-align: center;
  font-family: 'Poppins', sans-serif;
  /* Choose an appropriate font */
}

h1 {
  margin: 1rem;
  text-shadow: 2px 3px 0px #898999;
  margin: 0 auto 35px;
  font-size: 2.2em;
  text-align: center;
  /* Increase font size for headings */
}

.input-form {
  max-width: 50vw;
  width: 100%;
  padding: 1rem;
  background: rgba(48, 213, 186, 0.2);
  backdrop-filter: blur(7px);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 4rem;
  /* Subtle shadow effect */
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  font-family: 'Poppins', sans-serif;
}

input {
  padding: 0.9rem;
  border: none;
  border-radius: 15px;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  /* Lighter input background */
  color: #000000;
  font-size: 0.9em;
  font-family: 'Poppins', sans-serif;
  /* Darker text color for input */
}

button {
  padding: 0.7rem;
  border-radius: 25px;
  background-color: #A8EB12;
  width: 30%;
  border: 2px solid #74B72E;
  /* Solid border */
  align-self: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  /* Subtle shadow effect */
  color: #000000;
  /* Button text color */
  font-size: 1.3em;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

#generate{
  margin: 2rem;
}

button:hover {
  cursor: pointer;
  background-color: #b7ff00;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* Slightly darker shadow on hover */
}

/* Common styles for both desktop and mobile */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Media query for mobile devices (max-width: 767px) */
@media (max-width: 767px) {
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
  }
}


.card-container {
  max-width: 100%;
  /* Allow cards to take full width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}


@media (max-width : 728px) {
  .input-form {
    max-width: 100vw;
  }

  input {
    max-width: 360px;
    width: 100%;
    margin-top: 1rem;
  }
}
.topnav {
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 14px;
}

.topnav a.active {
  background-color: #04AA6D;
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  color: white;
}
