@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark-mode{
  --background-image: url(images/background1.svg);
  --text-color: #fff;
  --button-color: #000;
}
:root{
  --background-image: url(images/background2.svg);
  --text-color: #000;
  --button-color: #fff;
}

body {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  /* Dark background color for better contrast */
  max-width: 100vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  /* Increased padding for better spacing */
  text-align: center;
  font-family: 'Poppins', sans-serif;
  /* Choose an appropriate font */
}

#dark-mode-toggle{
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  z-index: 100;
  
}


h1 {
  margin: 50px auto 30px;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  color: var(--text-color);
  /* Increase font size for headings */
}

.input-form {
  max-width: 50vw;
  width: 100%;
  padding: 50px 70px;
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.04) 100%);
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.37);
  margin-bottom: 4rem;
  /* Subtle shadow effect */
}

form {
  display: flex;
  color: var(--text-color);
  flex-direction: column;
  text-align: left;
  justify-content: center;
  font-size: 1.3em;
  font-family: 'sofia sans', sans-serif;
  margin-left: 70px;
  margin-right: 70px;
}

input {
  padding: 0.9rem;
  border-radius: 4px;
  border: 1px solid ;
  border-color: var(--text-color);
  margin-top: 6px;
  margin-bottom: 20px;
  background-color: transparent;
  /* Lighter input background */
  color: #fff;
  font-size: 0.9em;
  font-family: 'sofia sans', sans-serif;
  /* Darker text color for input */
}
input[type=text]{
  color: var(--text-color);
}

button {
  padding: 0.9rem;
  border-radius: 4px;
  background: rgba(131, 90, 220, 0.80);
  color: var(--button-color);
  border: none;
  font-size: 16px;
  justify-content: center;
  font-weight: 600;
  font-family: 'sofia sans', sans-serif;
  transition: background-color 0.3s, color 0.3s ease-out;
  backdrop-filter: blur(20px);
}


#generate {
  margin-top: 2rem;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s;
  /* Slightly darker shadow on hover */
}

/* Common styles for both desktop and mobile */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Media query for mobile devices (max-width: 767px) */
@media (max-width: 767px) {
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
  }
}


.card-container {
  max-width: 100%;
  /* Allow cards to take full width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}


@media (max-width : 728px) {
  .input-form {
    max-width: 100vw;
    padding: 0;
    display: grid;
    place-content: center;
  }
  form{
    margin: 0 5%;
  }

  input {
    max-width: 360px;
    width: 100%;
    margin-top: 1rem;
  }
}