.card_1 {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(7px);
    border-radius: 15px;
    border: 2px solid #74B72E;
    font-family: 'Montserrat';
    }
    .profile_1 {
    max-width: 150px;
    max-height: 150px;
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin: 1rem;
    object-fit: cover;
    }   
    
    .card_1 h2 {
    margin: 1rem;
    }
    .card_1 p {
    font-size: 18px;
    margin: 1rem 0.5rem;
    text-align: center;
    }
    .links_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }
    
    .links_1 a img {
    width: 2.5rem;
    border-radius: 50%;
    margin: 1rem 0.5rem;
    transition: background 0.5s;
    }
    
    .links_1 a {
    fill: white;
    transition: fill 0.5s;
    margin: 1rem 0.5rem;
    }
    
    .links_1 a:hover {
    fill: #74B72E;
    }
    .card_1 a {
    width: 100%;
    }
    .btn2_1 {
    padding: 0.7rem;
    border-radius: 25px;
    background: transparent;
    width: 100%;
    align-self: center;
    border: 1px solid #74B72E;
    color: white;
    margin-bottom: 1rem;
    box-shadow: none;
    }
    .btn2_1:hover {
    background-color: #74B72E;
    box-shadow: none;
    font-weight: bold;
    color: white;
    }
    